body {
  background-color: #474f5b;
}
.jumbotron {
  margin: 5px;
  border: 2px #d7dae0;
  padding: 4px;
}
.jumbotron h1{
  text-align: left;
}
.jumbotron p{
  text-align: left;
}
img.ping-pong {
  float:left;
  width: 300px;
  border: 4px black;
}
#formbox {
  border: 10px;
  border-color: black;
}
img.ping-pong {
  float:right;
}
.pingpong-form{
  margin: 5px;
  border: 2px black;
  background-color: #d7dae0;
  padding: 20px;
}
.well {
  margin: 5px;
  border: 2px #94b7ef;
  padding: 4px;
}
#result {
  display: none;
}
